*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

body::selection, ::selection{
    background: rgb(50, 37, 56);
    color: white;
}

header{
    background-image: linear-gradient(to bottom, rgb(151, 11, 151)0,rgba(153, 65, 153, 0.678)50%,rgb(255, 255, 255)100%);
    background-color: rgba(151, 11, 151, 0.479);
    color: white;
    text-align: center;
    padding: 10px;
}

header h1{
    display: inline-block;
    border-bottom: 2px solid white;
}

.center{
    max-width: 1250px;
    padding: 2%;
    margin: 0 auto;
}

footer{
    color: white;
    background-color: rgb(151, 11, 151);
    width: 100%;
    padding: 5px;
    display: block;
    text-align: center;
}

#imagens {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

#imagens img{
    flex: 1;
    margin: 20px 20px;
    height: 224px;
    min-width: 224px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 1px 1px 5px;
    transition: 0.24s;
}

#imagens img:hover{
    transform: scale(1.1);
    opacity: 0.4;
    background-color: white;
}